[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "hw05"
version = "0.1.0"
dependencies = [
    "pandas",
    "numpy",
    "matplotlib",
    "scikit-learn",
    "jupyter",
]